.resetButton {
    -fx-image: url("../img/reset/reset.png");
}

.resetButton:hover {
    -fx-image: url("../img/reset/reset_hover.png");
}

.resetButton:disabled {
    -fx-image: url("../img/reset/reset_disabled.png");
}

.checkWinButton {
    -fx-image: url("../img/checkwin/checkwin.png");
}

.checkWinButton:hover {
    -fx-image: url("../img/checkwin/checkwin_hover.png");
}

.checkWinButton:disabled {
    -fx-image: url("../img/checkwin/checkwin_disabled.png");
}

.choiceBox {
    -fx-background-color: #e3c72d;
    -fx-font-family: 'Consolas';
    -fx-font-size: 15px;
    -fx-text-fill: #000000;
}

.choiceBox:hover {
    -fx-background-color: #2ca53e;
}
